<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="add_reader/add" method="post">
    <div>
        <div>
            <label>name an surname</label>
            <input type="text" name="name" placeholder="enter reader name"/>
        </div><br>
        <div>
            <label>id</label>
            <input type="number" name="readerId" placeholder="enter reader id"/>
        </div>
    </div><br>
    <button>Submit</button>
</form>
</body>
</html>