<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Author Page</title>
</head>
<body>
<table style="border-style: solid; font-size: 1.2em;" >
    <tr><th style="border-style: solid; border-width: 1px;" >id:</th> <th style="border-style: solid; border-width: 1px;">author name:</th></tr>
    <tr th:each="author: ${authors}">
        <td style="border-style: solid; border-width: 1px;" th:text="${author.authorId}" />
        <td style="border-style: solid; border-width: 1px;" th:text="${author.name}" />
    </tr>
</table>
</body>
</html>