<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="add_element/add" method="post">
    <div>
        <label>element id</label>
        <input type="number" name="id" placeholder="enter element id"/>
    </div><br>
    <div>
        <label>title</label>
        <input type="text" name="title" placeholder="enter title"/>
    </div><br>
    <div>
        <label>type</label>
        <input type="text" name="type" placeholder="enter type"/>
    </div><br>
    <div>
        <label>style</label>
        <input type="text" name="style" placeholder="enter style"/>
    </div><br>
    <div>
        <label>amount</label>
        <input type="number" name="amount" placeholder="enter amount"/>
    </div><br>
    <div>
        <label>year of publish</label>
        <input type="number" name="year" placeholder="enter year"/>
    </div><br>
    <div>
        <label>num of publish</label>
        <input type="number" name="num" placeholder="enter num"/>
    </div><br>
    <div>
        <label>publish company id</label>
        <input type="number" name="publish_id" placeholder="enter publish company id"/>
    </div><br>
    <div>
        <label>publish company name</label>
        <input type="text" name="company_name" placeholder="enter company name"/>
    </div><br>
    <div>
        <label>author id</label>
        <input type="number" name="author_id" placeholder="enter author id"/>
    </div><br>
    <div>
        <label>author name</label>
        <input type="text" name="author_name" placeholder="enter author name"/>
    </div><br>
    <button>Submit</button>
</form>
</body>
</html>