<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<form action="status/changed" method="post">
  <div>
    <label>element id</label>
    <input type="number" name="id" placeholder="enter element id"/>
  </div><br>
  <div>
    <label>element status</label>
    <input type="text" name="status" placeholder="enter element status"/>
  </div><br>
  <div>
    <label>reader id</label>
    <input type="number" name="reader_id" placeholder="enter reader id"/>
  </div><br>
  <button>Submit</button>
</form>
</body>
</html>